
body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    margin: 20 20 20;
    background-color: #f0f0f0;
}
.board {
    width: 600px;
    height: 610px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    border: 2px solid black;
}
.piece {
    width: 200px;
    height: 200px;
    cursor: grab;
    background-size: 600px 600px;
}
.pieces-container {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    gap: 10px;
}